<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-list>
      <mat-list-item>
        <button mat-flat-button class="menu-button">
          <mat-icon class="icon">dashboard</mat-icon>
          <span class="button-text">Dashboard</span>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-flat-button class="menu-button">
          <mat-icon class="icon">calendar_today</mat-icon>
          <span class="button-text">Calendar</span>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-flat-button class="menu-button">
          <mat-icon class="icon">chat</mat-icon>
          <span class="button-text">Chat</span>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-flat-button class="menu-button">
          <mat-icon class="icon">assignment_turned_in</mat-icon>
          <span class="button-text">Tickets</span>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-flat-button [matMenuTriggerFor]="options1" class="menu-button">
          <span class="button-content">
            <mat-icon class="icon"> business</mat-icon>
            <span class="button-text">Employer</span>
            <mat-icon class="icon float-right">arrow_drop_down</mat-icon>
          </span>
        </button>
        <mat-menu #options1="matMenu" class="sidenav">
          <button mat-menu-item class="menu-button">Option 1</button>
          <button mat-menu-item class="menu-button">Option 2</button>
          <button mat-menu-item class="menu-button">Option 3</button>
        </mat-menu>
      </mat-list-item>
      <mat-list-item>
        <button mat-flat-button class="menu-button">
          <mat-icon class="icon">work_outline</mat-icon>
          <span class="button-text">Employers</span>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-flat-button class="menu-button">
          <mat-icon class="icon">file_copy</mat-icon>
          <span class="button-text">Contracts</span>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-flat-button class="menu-button">
          <mat-icon class="icon">person</mat-icon>
          <span class="button-text">Person</span>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-flat-button class="menu-button">
          <mat-icon class="icon">settings</mat-icon>
          <span class="button-text">Changes</span>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-flat-button [matMenuTriggerFor]="options2" class="menu-button">
          <span class="button-content">
            <mat-icon class="icon">home</mat-icon>
            <span class="button-text">Companies</span>
            <mat-icon class="icon float-right">arrow_drop_down</mat-icon>
          </span>
        </button>
        <mat-menu #options2="matMenu" class="sidenav">
          <button mat-menu-item class="menu-button">Option 1</button>
          <button mat-menu-item class="menu-button">Option 2</button>
          <button mat-menu-item class="menu-button">Option 3</button>
        </mat-menu>
      </mat-list-item>
      <mat-list-item>
        <button mat-flat-button class="menu-button">
          <mat-icon class="icon">group</mat-icon>
          <span class="button-text">General Contacts</span>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-flat-button class="menu-button">
          <mat-icon class="icon">unfold_more</mat-icon>
          <span class="button-text">HB Employees</span>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-flat-button class="menu-button">
          <mat-icon class="icon">chrome_reader_mode</mat-icon>
          <span class="button-text">Knowledge Management</span>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-flat-button class="menu-button">
          <mat-icon class="icon">open_in_browser</mat-icon>
          <span class="button-text">Data Processing</span>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <div class="article-container">
      <mat-card *ngFor="let article of articles" class="article">
        <img mat-card-image [src]="article.image_src" alt="Article image" class="article-image">
        <mat-card-content>
          <p>{{article.headline}}</p>
        </mat-card-content>
        <mat-card-footer class="card-footer">
          <span class="date">{{article.date | date : 'dd/MM/yyyy'}}</span>
          <a href="#" class="card-link">Read more</a>
        </mat-card-footer>
      </mat-card>
    </div>
    <h3 class="statistic-title">Statistics</h3>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label class="select-label">Employers</mat-label>
      <mat-select>
        <mat-option>Employers</mat-option>
        <mat-option>Option 2</mat-option>
        <mat-option>Option 3</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="article-container">
      <mat-card
        *ngFor="let statistic of statistics"
        (mouseenter)="statistic.hover = true"
        (mouseleave)="statistic.hover = false"
        [style]="setShadow(statistic)"
        class="statistic-card">
        <mat-card-content>
          <div class="statistic-card-header">
            <img [src]="statistic.image_src" alt="Statistic icon" class="statistic-card-image">
            <div>
              <p><b>{{statistic.name}}</b></p>
              <p class="statistic-card-number">{{statistic.number}}</p>
            </div>
          </div>
          <div class="statistic-card-line" [style]="'border-color:' + statistic.line_color"></div>
        </mat-card-content>
        <mat-card-footer class="statistic-card-footer">
          <a href="#" class="statistic-card-link">See more</a>
        </mat-card-footer>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
